@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #141414;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  opacity: 0.89;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

p,
span,
li,
a {
  opacity: 0.89;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 3.625em;
  font-weight: 300;
}

/* #region Large View */
.header {
  width: 100%;
  height: 80px;
  padding: 0 5%;
  top: 0;
  z-index: 9;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  -webkit-transition: background 600ms;
  transition: background 600ms;
}

.header .header-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.header .header-container .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .nav-wrapper .logo-wrapper {
  margin-right: 15px;
}

.header .header-container .nav-wrapper .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .header-container .nav-wrapper .nav-ul li {
  margin-right: 15px;
}

.header .header-container .nav-wrapper .nav-ul li a {
  color: #fff;
}

.header .header-container .nav-wrapper .nav-ul li a:hover {
  text-decoration: none;
  color: #dedede;
}

.header .header-container .signup-in-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header .header-container .signup-in-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .header-container .signup-in-wrapper ul li {
  margin-right: 20px;
}

.header .header-container .signup-in-wrapper ul li .fa-bell,
.header .header-container .signup-in-wrapper ul li .fa-user-alt,
.header .header-container .signup-in-wrapper ul li .fa-search {
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: #0a0a0a;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.sticky .logo-wrapper h3 {
  color: #fff;
}

.sticky nav ul li {
  color: #fff;
}

.sticky .signup-in-wrapper ul li .fa-bell,
.sticky .signup-in-wrapper ul li .fa-user-alt,
.sticky .signup-in-wrapper ul li .fa-search {
  color: #fff;
}

.header-mobile {
  display: none;
}

section {
  width: 100vw;
}

.inner-width {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.hero {
  height: 100vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -80px;
  width: 100%;
}

.hero .hero_billboard-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.hero .hero_billboard-wrapper .billboard-title {
  width: 100%;
}

.hero .hero_billboard-wrapper .billboard-title h1 {
  font-weight: 700;
  font-size: 4.875em;
  color: #fff;
  margin-top: -15px;
  margin-bottom: 25px;
}

.hero .hero_billboard-wrapper .billboard-title p {
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.3em;
  font-size: 26px;
  width: 50%;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links {
  padding-top: 15px;
  margin-right: 20px;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor {
  text-decoration: none;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play {
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 12.5rem;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play div {
  font-size: 1.25em;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play:hover {
  background-color: #dedede;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary {
  background-color: rgba(47, 47, 141, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary .fa-info-circle,
.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary .more-info-btn {
  color: #fff;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary:hover {
  background-color: rgba(47, 47, 141, 0.8);
}

.movie-card-section {
  margin-top: -120px;
}

.movie-card-section .title-category {
  /*CSS here*/
}

.movie-card-section .title-category h2 {
  margin-bottom: 15px;
}

.movie-card-section .movie-img-wrapper .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.movie-card-section .movie-img-wrapper .carousel .carousel_carousel-item {
  margin: 3px;
}

.movie-card-section .movie-img-wrapper .carousel .carousel_carousel-item img {
  border-radius: 3px;
  width: 250px;
}

.netflix {
  margin-top: 50px;
  padding-bottom: 100px;
}

.netflix .title-category {
  /*CSS here*/
}

.netflix .title-category h2 {
  margin-bottom: 15px;
}

.netflix .movie-img-wrapper .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.netflix .movie-img-wrapper .carousel .carousel_carousel-item {
  margin: 3px;
}

.netflix .movie-img-wrapper .carousel .carousel_carousel-item img {
  border-radius: 3px;
}

.menu-pop-container {
  display: none;
}

.popup-menu {
  display: block;
  -webkit-transition: display 500s;
  transition: display 500s;
}

/* #endregion Large View */
/* #region Moile View */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100vw;
    background-color: #0a0a0a;
    height: 60px;
  }
  .header-mobile .menu-mobile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .header-mobile .menu-mobile-wrapper .ul-mobile-view {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: 0;
    padding: 10px 0;
  }
  .header-mobile .menu-mobile-wrapper .ul-mobile-view li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    color: #fff;
  }
  .hero {
    height: 250px;
    margin-top: 0;
  }
  .hero .hero_billboard-wrapper .billboard-title {
    margin-top: auto;
    margin-bottom: 50px;
  }
  .hero .hero_billboard-wrapper .billboard-title h1 {
    font-size: 1.188em;
    margin-bottom: 5px;
  }
  .hero .hero_billboard-wrapper .billboard-title p {
    font-size: 0.625em;
    width: 100%;
  }
  .hero .hero_billboard-wrapper .billboard-title .hero_btn-container {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 5px;
  }
  .hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play {
    padding: 5px 15px;
    width: 100%;
  }
  .movie-card-section {
    margin-top: 50px;
  }
  .movie-card-section .title-category h2 {
    font-size: 1.563em;
  }
  .menu-pop-container {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: #0000008c;
  }
  .menu-pop-container .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 100%;
  }
  .menu-pop-container .overlay .menu-nav {
    width: 70%;
    background-color: #0a0a0ad9;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    height: 50%;
    padding-right: 35px;
    position: fixed;
    bottom: 60px;
  }
  .menu-pop-container .overlay .menu-nav ul {
    margin: 0;
    list-style: none;
  }
  .menu-pop-container .overlay .menu-nav ul li {
    text-align: right;
  }
  .menu-pop-container .overlay .menu-nav ul li a {
    color: #fff;
  }
}

/* #endregion Moile View */
/*# sourceMappingURL=styles.css.map */