@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #141414;
  height: 1366px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  opacity: 0.89;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

p,
span,
li,
a {
  opacity: 0.89;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 3.625em;
  font-weight: 300;
}

.header {
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  position: relative;
  top: 0;
  z-index: 9;
  -webkit-transition: background 600ms;
  transition: background 600ms;
}

.header .header-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0 80px;
}

.header .header-container .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .nav-wrapper .logo-wrapper {
  margin-right: 15px;
}

.header .header-container .nav-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .header-container .nav-wrapper nav ul li {
  margin-right: 15px;
  color: #fff;
}

.header .header-container .signup-in-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header .header-container .signup-in-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .header-container .signup-in-wrapper ul li {
  margin-right: 20px;
}

.header .header-container .signup-in-wrapper ul li .fa-bell,
.header .header-container .signup-in-wrapper ul li .fa-user-alt,
.header .header-container .signup-in-wrapper ul li .fa-search {
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: #0a0a0a;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.sticky .logo-wrapper h3 {
  color: #fff;
}

.sticky nav ul li {
  color: #fff;
}

.sticky .signup-in-wrapper ul li .fa-bell,
.sticky .signup-in-wrapper ul li .fa-user-alt,
.sticky .signup-in-wrapper ul li .fa-search {
  color: #fff;
}

section {
  padding: 0 80px;
}

.hero {
  height: 100vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -80px;
  padding: 0 80px;
  width: 100%;
}

.hero .hero_billboard-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.hero .hero_billboard-wrapper .billboard-title {
  width: 100%;
}

.hero .hero_billboard-wrapper .billboard-title h1 {
  font-weight: 700;
  font-size: 78px;
  color: #fff;
  margin-top: -15px;
  margin-bottom: 25px;
}

.hero .hero_billboard-wrapper .billboard-title p {
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.3em;
  font-size: 26px;
  width: 50%;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links {
  padding-top: 15px;
  margin-right: 20px;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor {
  text-decoration: none;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play {
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 12.5rem;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play div {
  font-size: 1.25em;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play:hover {
  background-color: #dedede;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary {
  background-color: rgba(47, 47, 141, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary .fa-info-circle,
.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary .more-info-btn {
  color: #fff;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary:hover {
  background-color: rgba(47, 47, 141, 0.8);
}

.movie-card-section {
  margin-top: -120px;
  margin-bottom: 100px;
}

.movie-card-section .title-category {
  /*CSS here*/
}

.movie-card-section .title-category h2 {
  margin-bottom: 25px;
}

.movie-card-section .movie-img-wrapper .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.movie-card-section .movie-img-wrapper .carousel .carousel_carousel-item {
  margin: 3px;
}

.movie-card-section .movie-img-wrapper .carousel .carousel_carousel-item img {
  border-radius: 3px;
}

.movie-card-section_netflix {
  padding-bottom: 100px;
}

.movie-card-section_netflix .title-category {
  /*CSS here*/
}

.movie-card-section_netflix .title-category h2 {
  margin-bottom: 25px;
}

.movie-card-section_netflix .movie-img-wrapper .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.movie-card-section_netflix .movie-img-wrapper .carousel .carousel_carousel-item {
  margin: 3px;
}

.movie-card-section_netflix .movie-img-wrapper .carousel .carousel_carousel-item img {
  border-radius: 3px;
}
/*# sourceMappingURL=styles.css.map */