@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --slider-padding: 5rem;
}

.w-100 {
  width: 100%;
}

.ovrf-hidden {
  overflow: hidden;
}

.padding-inline-60 {
  padding-inline: calc(var(--slider-padding) - 1.25rem);
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #141414;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  opacity: 0.89;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

p,
span,
li,
a {
  opacity: 0.89;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 3.625em;
  font-weight: 300;
}

/* #region Large View */
.header {
  width: 100%;
  min-height: 80px;
  padding: 0 5%;
  top: 0;
  z-index: 9;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  -webkit-transition: background 600ms;
  transition: background 600ms;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.header .header-container .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .nav-wrapper .logo-wrapper {
  margin-right: 15px;
}

.header .header-container .nav-wrapper .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .header-container .nav-wrapper .nav-ul li {
  margin-right: 15px;
}

.header .header-container .nav-wrapper .nav-ul li a {
  color: #fff;
}

.header .header-container .nav-wrapper .nav-ul li a:hover {
  text-decoration: none;
  color: #dedede;
}

.header .header-container .signup-in-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header .header-container .signup-in-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .header-container .signup-in-wrapper ul li {
  margin-right: 20px;
}

.header .header-container .signup-in-wrapper ul li .fa-bell,
.header .header-container .signup-in-wrapper ul li .fa-user-alt,
.header .header-container .signup-in-wrapper ul li .fa-search {
  color: #fff;
}

section {
  width: 100vw;
}

.inner-width {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  position: relative;
  height: calc(100vh - 10rem);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -80px;
  width: 100%;
}

.hero .hero_billboard-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 1;
}

.hero .hero_billboard-wrapper .billboard-title {
  width: 100%;
}

.hero .hero_billboard-wrapper .billboard-title h1 {
  font-weight: 700;
  font-size: 4.875em;
  color: #fff;
  margin-top: -15px;
  margin-bottom: 25px;
}

.hero .hero_billboard-wrapper .billboard-title p {
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.3em;
  font-size: 26px;
  width: 50%;
}

.hero .hero_billboard-wrapper .billboard-title .line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links {
  padding-top: 15px;
  margin-right: 20px;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor {
  text-decoration: none;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play {
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 12.5rem;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play div {
  font-size: 1.25em;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play:hover {
  background-color: #dedede;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary {
  background-color: rgba(47, 47, 141, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary .fa-info-circle,
.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary .more-info-btn {
  color: #fff;
}

.hero .hero_billboard-wrapper .billboard-title .hero_btn-container .billboard-links .playlink-btn-anchor .hero_btn-play.secondary:hover {
  background-color: rgba(47, 47, 141, 0.8);
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#141414ec), to(#1414141c));
  background-image: linear-gradient(to top, #141414ec, #1414141c);
}

.slider {
  position: relative;
}

.slider .pagination-indicator {
  list-style: none;
}

.slider .slider-mask {
  --slider-index: 0;
  -webkit-transform: translateX(calc(var(--slider-index) * -100%));
          transform: translateX(calc(var(--slider-index) * -100%));
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.slider .slider-mask .slider-content {
  white-space: nowrap;
  margin-bottom: 50px;
}

.slider .slider-mask .slider-content .carousel-item {
  position: relative;
  display: inline-block;
  padding: 0 0.2vw;
  width: 24.9%;
}

.slider .slider-mask .slider-content .carousel-item img {
  width: 100%;
}

.slider .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: calc(var(--slider-padding) - 1.25rem);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-content: center;
  cursor: pointer;
}

.slider .handle > * {
  font-size: 2.5rem;
  width: 34px;
}

.slider .handle.handle-next {
  background: rgba(20, 20, 20, 0.5);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  right: 0;
}

.slider .handle.handle-previous {
  background: rgba(20, 20, 20, 0.5);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  left: 0;
}

.menu-pop-container {
  display: none;
}

.popup-menu {
  display: block;
  -webkit-transition: display 500s;
  transition: display 500s;
}

/* #endregion Large View */
.modal.opened {
  background-color: rgba(0, 0, 0, 0.619);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.modal.opened .modal_inner-wrapper {
  position: relative;
  width: 95%;
  max-width: 1024px;
  background-color: #181818;
  margin: auto;
  border-radius: 8px;
}

.modal.opened .modal_inner-wrapper .movie-backdrop-img-wrapper {
  background-position: top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px 40px;
  min-height: 700px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.modal.opened .modal_inner-wrapper .movie-backdrop-img-wrapper .movie-heading-wrapper {
  position: relative;
  z-index: 2;
  margin-top: auto;
}

.modal.opened .modal_inner-wrapper .movie-backdrop-img-wrapper .movie-heading-wrapper header .modal__movie-title {
  color: #fff;
  font-size: 3.5rem;
  padding-bottom: 1rem;
}

.modal.opened .modal_inner-wrapper .movie-backdrop-img-wrapper .movie-heading-wrapper .play-wapper .button.play-movie-btn {
  font-size: 1.5rem;
  padding: 5px 20px;
  width: 150px;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.modal.opened .modal_inner-wrapper .movie-backdrop-img-wrapper .close-modal {
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1818187a;
  cursor: pointer;
}

.modal.opened .modal_inner-wrapper .movie-backdrop-img-wrapper .close-modal svg {
  stroke: #fff;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.modal.opened .modal_inner-wrapper .movie-backdrop-img-wrapper .close-modal:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  stroke: #ffafaf;
}

.modal.opened .modal_inner-wrapper .movie-backdrop-img-wrapper::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#181818fb), to(#18181808));
  background-image: linear-gradient(to top, #181818fb, #18181808);
  width: 100%;
  height: 100%;
}

.modal.opened .modal_inner-wrapper .excerpt {
  padding: 40px;
  color: #fff;
}

.modal.opened .modal_inner-wrapper .excerpt h2 {
  padding-bottom: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1rem;
  opacity: 0.8;
}

.modal.opened .modal_inner-wrapper .excerpt p {
  font-weight: 300;
  opacity: 0.8;
}

.col-2 {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 70% 1fr;
      grid-template-columns: 70% 1fr;
}

.next-animation {
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
  pointer-events: none;
}
/*# sourceMappingURL=styles.css.map */